table{
	height: 500px;
	width: 500px;
	border-collapse: collapse;
	margin: auto;
	box-shadow: 6px 6px 6px 6px ;
}
td{
	border: 1px solid black;
}
body{
	background-image: url(gi/chess2.jpg);
	background-size: cover;
}
td:hover{
	transform: scale(1.2);
	transition: 0.2s;
}